## LLM Providers
OPENAI_API_KEY=sk-...
NVIDIA_API_KEY=nvapi-...

## Local services
MONGODB_URI=mongodb://***:***@localhost:27017
MONGODB_DATABASE_NAME=documents

## Langsmith
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=lsv2_pt_...
LANGCHAIN_CALLBACKS_BACKGROUND=true
LANGCHAIN_PROJECT=tutorials
